footer > * {
  color: white !important;
}
footer ul li a {
  color: white !important;
}
.footer {
  position: relative;
  height: 10vh;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #4f4557;
}
.addIssues {
  position: fixed;
  bottom: 1em;
  right: 3em;
  z-index: 2;
}
.issResolveCon {
  position: relative;
  inset: 0;
}
.issuesResol {
  position: sticky;
  top: -12em;
}
